.social {
  @include menu();
}

.social__link {
  display: block;
  width: 25px;
  height: 25px;

  background-repeat: no-repeat;
  opacity: 0.7;

  @include media-tablet {
    width: 56px;
    height: 55px;
  }

  @include media-mobile {
    width: 35px;
    height: 35px;
  }

  &:hover,
  &:active {
    opacity: 1;
  }
}

.social__link span {
  @include visually-hidden();
}

.social__link--fb {
  background-image: url("../img/fb-desktop.svg");

  @include media-tablet {
    background-image: url("../img/fb-tablet.svg");
  }

  @include media-mobile {
    background-image: url("../img/fb-mobile.svg");
  }
}

.social__link--inst {
  background-image: url("../img/inst-desktop.svg");

  @include media-tablet {
    background-image: url("../img/inst-tablet.svg");
  }

  @include media-mobile {
    background-image: url("../img/inst-mobile.svg");
  }
}

.social__link--vk {
  background-image: url("../img/vk-desktop.svg");

  @include media-tablet {
    background-image: url("../img/vk-tablet.svg");
  }

  @include media-mobile {
    background-image: url("../img/vk-mobile.svg");
  }
}

.social__link--whatsapp {
  width: 27px;
  height: 27px;

  background-image: url("../img/whatsapp-desktop.svg");

  @include media-tablet {
    width: 56px;
    height: 55px;

    background-image: url("../img/whatsapp-tablet.svg");
  }

  @include media-mobile {
    width: 35px;
    height: 35px;

    background-image: url("../img/whatsapp-mobile.svg");
  }
}

