@font-face {
  font-family: "Forum";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Forum.eot");
  src: local('Forum'),
  url("../fonts/Forum.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Forum.woff") format('woff'),
  url("../fonts/Forum.ttf") format('truetype');
}
