@mixin media-tablet {
  @media (max-width: 1023px) {
    @content;
  }
}

@mixin media-mobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin retina {
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    @content;
  }
}

@mixin visually-hidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/*
@mixin container() {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;

  @include media-tablet {
    width: 100%;
    min-width: 320px;
  }
}
*/

@mixin menu() {
  display: flex;
  padding: 0;
  //margin: 0;
  list-style: none;
  align-items: center;
  flex-wrap: wrap;
  @content;
}

@mixin button($background-color: transparent, $border-color: transparent) {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: $color-white;
  background-color: $background-color;
  border: 1px $border-color solid;
  opacity: 0.7;
  overflow: hidden;

  &:hover,
  &:active {
    opacity: 1;
  }

  @include media-tablet {
    font-size: 15px;
    line-height: 17px;
  }

  @include media-mobile {
    font-size: 10px;
    line-height: 11px;
  }

  @content;

  /*
  @include media-mobile {
    width: 100%;
    max-width: none;
  }
  */
}

@mixin font-forum-regular {
  font-weight: 400;
  font-family: $font-forum;
}

@mixin font-display-regular {
  font-weight: 400;
  font-family: $font-display;
}
